<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="objectivity" type="Objectivity.Configuration.ObjectivityConfiguration, Objectivity.DB124" />
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <objectivity>
    <federatedDatabases default = "testfd" >
      <federatedDatabase systemName = "testfd"
                         bootFile = "..\data\testfd.boot"
                         autoRecover = "true" />
    </federatedDatabases>

    <generalSessionSettings>
      <session initialSmallObjectPageSpace = "819200"
               maximumSmallObjectPageSpace = "2000000000"
               initialNumberOfLargeObjectEntries = "200"
               maximumNumberOfLargeObjectEntries = "500"
               largeObjectMemoryLimit = "0"
               defaultMrowMode = "NoMROW"
               defaultCloseObjectsInRefreshOpen = "true"
               containerLockWait = "0"
               hotMode = "false"
               connectRetries = "2"
               useIndexes = "true"
               serverTimeout = "25"
               maximumOpenObjects = "200"
               defaultDowngradeMode = "NoDowngrade"
               enableLockConflictInformation = "true" />

      <sessionPool softLimit = "10"
                   hardLimit = "20"
                   sessionWait = "0" />
    </generalSessionSettings>

    <!--<logging logAll="true"
               logMain="true"
               logSession="true"
               logTransactionStatistics="true"
               logTransactionTiming="true"
               logOther="true"
               appendLogs="true"
               logDirectory="../../logs"
               mainLogFileName="Objectivity.log" />-->

  </objectivity>
  
</configuration>